<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;500&family=Noto+Color+Emoji&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div style="background-color: #020414; padding: 20px; box-sizing: border-box; color: #ffffff;">
      <h1>Confirm your new email</h1>
      <h5>To confirm this email on FlexFI Upscale, you need to click the button below</h5>
      <a style="background-color: #d091fa; cursor: pointer; text-decoration: none; padding: 10px; border-radius: 6px;" href="{{ url }}">VERIFY EMAIL</a>
    </div>
  </body>
</html>
